asgiref==3.9.1
barcode==1.0.4
boto3==1.40.9
botocore==1.40.9
Brotli==1.1.0
cffi==1.17.1
charset-normalizer==3.4.3
cssselect2==0.8.0
dj-database-url==3.0.1
Django==5.2.5
django-cors-headers==4.7.0
django-mathfilters==1.0.0
django-sslserver==0.22
django-storages==1.14.6
dotenv==0.9.9
et_xmlfile==2.0.0
fonttools==4.59.1
gunicorn==23.0.0
jmespath==1.0.1
Levenshtein==0.27.1
openpyxl==3.1.5
packaging==25.0
pillow==11.3.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.2
python-barcode==0.15.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-Levenshtein==0.27.1
RapidFuzz==3.13.0
reportlab==4.4.3
s3transfer==0.13.1
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2025.2
urllib3==2.5.0
weasyprint==66.0
webencodings==0.5.1
whitenoise==6.9.0
zopfli==0.2.3.post1
