/* #region Variables y Formateos */
:root {
    /* Azules Marino */
    --azul-marino-oscuro: #00203F;
    --azul-marino-medio: #004080;
    --azul-marino-claro: #005BBB;

    /* Azules Neutrales */
    --azul-acero: #4682B4;
    --gris-azul: #708090;

    /* Blanco */
    --blanco-humo: #F5F5F5;
}
@font-face {
    font-family: 'NotoSansJP';
    src: url('/static/fonts/NotoSansJP-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--blanco-humo);
    color: var(--blanco-humo);
    font-family: 'NotoSansJP', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
/* #endregion */


/* #region Loader */
.bg {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--base-color);
  --base-color: #212121;
 /*use your base color*/
}

.loader {
  width: 60px;
  height: 40px;
  position: relative;
  display: inline-block;
  background-color: var(--base-color);
}

.loader::before {
  content: '';
  left: 0;
  top: 0;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #FFF;
  background-image: radial-gradient(circle 8px at 18px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 0px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 36px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 36px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 5px, var(--base-color) 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 3s linear infinite;
}

.loader::after {
  content: '';
  left: 35px;
  top: 15px;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #FFF;
  background-image: radial-gradient(circle 5px at 12px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 0px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 24px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 24px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 3px, var(--base-color) 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 4s linear infinite reverse;
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}  
/* #endregion */

/* #region Barra de Navegación */
.navbar-brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p{
        margin: 0;
    }
}
#cerrar-sesion{
    display: none !important;
}
.bg-principal{
    background-color: var(--azul-marino-oscuro);
}
.bg-subprincipal{
    background-color: var(--azul-marino-medio);
}
.nav-link{
    color: var(--blanco-humo);
}
.navbar>.container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 0 0;
    max-width: 100%;
}

/* Ocultar parras de navegacion en el LOGIN */
.ocult-header-in-login{
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 100%;
}
.ocult-footer-in-login{
    position: fixed;
    bottom: 0;
    z-index: 999999;
    width: 100%;
}
/* #endregion */








.btn-size-adjust {
    width: 3rem;
    height: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/*  Estilos para el loader */

#global-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-content {
    text-align: center;
    color: white;
}

.loader-spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto 15px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}